# =====================
# Java
# =====================
*.class
*.log
*.jar
*.war
*.ear
target/
out/

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml
*.iws

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# JVM / Tools
# =====================
hs_err_pid*
replay_pid*

# =====================
# Maven
# =====================
dependency-reduced-pom.xml
